<div class="nav">
  <div class="nav-items">
    <div class="nav-logo" routerLink="/admin">Admin Center</div>
    <div class="nav-item active">Home</div>
    <div class="nav-item">Users</div>
  </div>

  <div class="nav-user-info">
    <div class="user-info">
      <div class="name">{{userinfo.username}} <span class="role">[{{adminType[userinfo.role]}}]</span></div>
      <a class="name">logout</a>
    </div>
  </div>
</div>
<div class="main">
  <div class="position"><span class="position-item">Home / {{groupName}} / Channels</span></div>
  <button [disabled]="!get_permission('create channel')" class="cus_btn" (click)="showModal()">Add Channel</button>
  <table>
    <tr>
      <th style="width: 130px">ID</th>
      <th>Group</th>
      <th>Channel</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let channel of channels;let i = index">
      <td>{{i+1}}</td>
      <td>{{groupName}}</td>
      <td>{{channel.name}}</td>
      <td style="width: 20%">
        <a routerLink="/admin/user" [queryParams]="{cid:channel._id,name:channel.name}">View Users</a>
        <button (click)="deleteChannel(channel._id)" [disabled]="!get_permission('remove channel')" class="cus_btn">Delete</button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="modalStatus" class="cus_modal">
  <div class="cus_modal_body" id="modal">
    <div class="modal_header">Add Channel</div>
    <div class="modal_content">
      <input [(ngModel)]="channelName" placeholder="Enter Channel Name">
      <div class="btns">
        <button class="cus_btn" (click)="add_channel()">Add</button>
        <button class="cus_btn" (click)="hideModal()">Close</button>
      </div>
    </div>
  </div>
</div>
